.wrapper {
    height: var(--WIDTH);
    width: var(--HEIGHT);
    box-shadow: 0 5px 5px #000;
}

.wrapper .carousel {
    display: flex;
    overflow-x: hidden;
}

.wrapper .carousel_btn {
    position: absolute;
    top: 50%;
}

.carousel img {
    height: var(--WIDTH);
    width: var(--HEIGHT);
    object-fit: cover;
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    .wrapper {
        height: 400px;
        width: 400px;
    }

    .carousel img {
        height: 400px;
        width: 400px;
}

}

@media screen and (min-width: 1440px) {
    .wrapper {
        height: 500px;
        width: 500px;
    }

.carousel img {
    height: 500px;
    width: 500px;
    }

}
@media screen and (min-width: 2560px) {
    .wrapper {
        height: 700px;
        width: 700px;
    }

.carousel img {
    height: 700px;
    width: 700px;
    }

}