.wrapper {
    height: var(--HEIGHT);
        width: var(--WIDTH);
    box-shadow: 0 1px 5px #000;
}


.wrapper .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-x: auto;
}

.wrapper .carousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel img {
    flex: 1 0 100%;
        height: var(--HEIGHT);
        scroll-snap-align: start;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
}
.carousel #image5 {
    object-position: center;
}
.wrapper .carousel_nav {
    position: absolute;
    overflow-x: scroll;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.75rem;
    z-index: 1;
}

.wrapper .carousel_nav a {
    width: 0.5rem;
        height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.wrapper .carousel_nav a:hover {
    opacity: 1;
}
@media screen and (min-width: 1024px) {
    .wrapper {
        height: 400px;
        width: 400px;
    }

    .carousel img {
        height: 400px;
        width: 400px;
}

}

@media screen and (min-width: 1440px) {
    .wrapper {
        height: 500px;
        width: 500px;
    }

.carousel img {
    height: 500px;
    width: 500px;
    }

}
@media screen and (min-width: 2560px) {
    .wrapper {
        height: 700px;
        width: 700px;
    }

.carousel img {
    height: 700px;
    width: 700px;
    }

}