@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* Utilities */
.text_shadow {
    text-shadow: 1px 1px 4px #fff;
}

.disable_scroll {
    overflow: hidden;
}

.black_gradient {
    background-image: radial-gradient(#475569, #000);
}

/* General style */
body {
    overflow-x: hidden;
    background-color: #d6d7d9;
}
/* d4d9df */

nav section {
    background-color: rgba(0, 0, 0, 0);
    animation: navScroll linear forwards;
    
        @supports (animation-timeline: view()) {
            animation-timeline: view();
            animation-range: 100vh 120vh;
        }
}

@keyframes navScroll {
    from {
        background-color: rgba(0, 0, 0, 0);
        color: #000;
    }

    to {
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
        box-shadow: 1px 3px 5px #fff;
        }
        }
        
        @media (min-aspect-ratio: 8/5) {
            header .hero_div {
                padding-top: 6rem;
    }
}