@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* Utilities */
.text_shadow {
    text-shadow: 1px 1px 1px #fff;
}

.disable_scroll {
    overflow: hidden;
}

.black_gradient {
    background-image: radial-gradient(#475569, #000);
}

/* General style */
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #d6d7d9;
}
h1 {
    z-index: 1;
}

header {
    z-index: -1;
}
.bgHomePageHeaderImg {
    background-color: #656464;
    background-image: url("./assets/images/altHeroImg.jpg");
    background-blend-mode: multiply;
}

.bgServicePageHeaderImg {
    background-image: url("./assets/images/serviceImg.jpg");
}

.bgContactPageHeaderImg {
    background-image: url("./assets/images/tableImg.jpg");
}
::-webkit-scrollbar {
    display: none;
}

nav .nav_items{
    background-color: rgba(255, 190, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

nav section .logo:hover {
    scale: 1.2;
    transition: scale 0.5s ease-in-out;
}
   
.animate_left {
    transform: translateX(-25vw);
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.animate_right {
    transform: translateX(25vw);
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.animate_center {
    transform: translateY(-50vw);
    opacity: 0;
    scale: 0.3;
    transition: all 700ms ease-in-out;
}

.animate_show {
    opacity: 1;
    transform: translateX(0);
    scale: 1;
    transform: translateY(0);
}

@media screen and (max-width: 760px) {
    nav {
        background-color: rgba(255, 190, 0, 0.2);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}