@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* Utilities */
.text_shadow {
    text-shadow: 1px 1px 4px #fff;
}

.disable_scroll {
    overflow: hidden;
}

.black_gradient {
    background-image: radial-gradient(#475569, #000);
}

/* General style */
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #d6d7d9;
}
h1 {
    z-index: 1;
}

header {
    z-index: -1;
}
.bgHomePageHeaderImg {
    background-image: url("./assets/images/altHeroImg.jpg");
}

.bgServicePageHeaderImg {
    background-image: url("./assets/images/serviceImg.jpg");
}

.bgContactPageHeaderImg {
    background-image: url("./assets/images/tableImg.jpg");
}
::-webkit-scrollbar {
    display: none;
}

nav section {
    animation: navScroll linear forwards;
    
        @supports (animation-timeline: view()) {
            animation-timeline: view();
            animation-range: 100vh 115vh;
        }
}

nav section .logo:hover {
    scale: 1.2;
    transition: scale 0.5s ease-in-out;
}
@keyframes navScroll {
    from {
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
    }

    to {
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
        box-shadow: 1px 3px 5px #fff;
        }
        }
        
.auto_show_center {
    animation: autoShowCenter both;

    @supports (animation-timeline: view()) {
        animation-timeline: view(80% 5%);
    }
}

@keyframes autoShowCenter {
    from {
        transform: translateY(50%);
        scale: 0.3;
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        scale: 1;
        opacity: 1;
    }
}

.auto_show_left {
    animation: autoShowLeft both;

    @supports (animation-timeline: view()) {
        animation-timeline: view(80% 5%);
    }
}

@keyframes autoShowLeft {
    0% {
        transform: translateX(-50%);
        scale: 0.5;
        opacity: 0;
    }

                                                                                                                                                                                                                                                                80% {
        transform: translateX(0%);
        scale: 1;
        opacity: 1;
    }
}

.auto_show_right {
    animation: autoShowRight both;

    @supports (animation-timeline: view()) {
        animation-timeline: view(80% 5%);
    }
}

@keyframes autoShowRight {
    0% {
        transform: translateX(50%);
        scale: 0.5;
        opacity: 0;
    }

                                                                                                                                80% {
        transform: translateX(0%);
        scale: 1;
        opacity: 1;
    }
}